#contact_modal {
  display: none;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photograph-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  background-color: #fafafa;
  padding: 50px 100px;
  margin: 0 auto;
}

.photographer-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.photographer-info h1 {
  font-size: 36px;
  color: #d3573c;
  margin: 0;
}

.photographer-info .location {
  color: #901c1c;
  font-size: 18px;
  font-weight: bold;
}

.photographer-info .tagline {
  font-size: 16px;
  color: #525252;
}

.photographer-portrait {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
